  body {
    margin: 0;
    box-sizing: border-box;
  }
  
  /* CUSTOMIZE MAIN
  -------------------------------------------------- */

  main {
    background-color: #dc3545!important;
  }

  /* CUSTOMIZE THE CAROUSEL
  -------------------------------------------------- */

  /* Carousel base class */
  .carousel {
    margin-bottom: 4rem;
  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }

  .carousel-caption > h5, p{
    color: rgb(151, 151, 151);
  }
  
  /* Declare heights because of positioning of img element */
  .carousel-item {
    height: 32rem;
  }
  .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
  }

  /* CUSTOMIZE THE CARDS
  -------------------------------------------------- */

  .card > img{
    margin: auto;
    width: 200px;
    height: 300px;
  }
  .card-body >.paragraph> p{
    text-align: justify;
    text-overflow: ellipsis;
  }
  .paragraph{
    overflow: hidden;
    margin-bottom: 20px;
    max-height: 188px;
  }

  /* CUSTOMIZE THE MODAL
  -------------------------------------------------- */
  #productoModal{
    display: none;
  }