body {
    background-color: #970e1c!important;
    padding: 30px;
    min-width: 600px;
}

.container {
    background-color: white;
    width: 300px;
    padding: 20px;
    text-align: center;
}

td > img {
    width:150px;
    height:200px;
}

#tablaProductos > td {
    padding: 30px;
    text-align: left;
}

.containerProductos {
    display: flex;
    justify-content: center;
}

#tablaProductos {
    width: 100%;
}

.resumenProductos {
    background-color: whitesmoke;
    margin: 10px;
}

.resumenProductos > td {
    padding: 10px;
}

.titulos > td {
    text-align: center;
}

.subtitulo {
    color: #707070;
}

.subtitulo > a {
    color: #707070;
    font-weight: bolder;
}

.container > img {
    width:200px;
    height: 200px;
    padding: 20px;
}

.boton {
    text-align: right;
    color: white;
    margin-top: 20px; 
}
