body {
    background-color: #970e1c!important;
    padding: 30px;
}

.container {
    background-color: white;
    width: 300px;
    padding: 20px;
    text-align: center;
}

td > img {
    width:150px;
    height:200px;
}

#tablaProductos > td {
    padding: 30px;
    text-align: left;
}

.containerProductos {
    display: flex;
    justify-content: center;
    
}

#tablaProductos {
    width: 80%;
}

.titulos > td > h3 {
    font-weight: bold;
}

.subtitulo {
    color: #707070;
}

.subtitulo > a {
    color: #707070;
    font-weight: bolder;
}

.container > img {
    width:200px;
    height: 200px;
    padding: 20px;
}

.boton {
    text-align: right;
    color: white;
}
