body {
    background-color: #970e1c!important;
}

.container {
    background-color: white;
    width: 300px;
    padding: 20px;
    margin: 4%;
}

.creditCardForm {
    margin-top: 0!important;
    margin-bottom: 0!important;
}

.payment {
    margin-top: 0!important;
    margin-bottom: 0!important;
}

#pay-now {
    margin-top: 0!important;  
}

#contra_reembolso {
    display: none;
}

#confirm-purchase_cr {
    float: right;
    margin-top: 35px;
    width: 150px;
    color: white;
}

.lineasFactura > input {
    display: none;
}